<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <%= link_to "Create Transfer!", '/exchange_info', class: "btn btn-lg btn-primary" %>
    </aside>
  </div>
<% else %>
	<div class="center jumbotron">
		<h1>Welcome to TransferSmart</h1>
		<p>
		  This is the home page for the
		  <a href="http://github.com/vagosdim/TransferSmart">TransferSmart </a> fund transfering web application.
		</p>
		<%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
	</div>

	<%= link_to image_tag("webbanking.jpeg", alt: "TransferSmart logo", class: "style"),
	            'https://github.com/vagosdim/TransferSmart', class: "image_tag" %>
<% end %>