<footer class="footer">
  <small>
    The <a href="https://github.com/vagosdim/TransferSmart">international fund transfering web application</a>
    by <a href="https://github.com/vagosdim/">Evangelos Dimoulis</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", help_path %></li>
    </ul>
  </nav>
</footer>

