<% provide(:title, @user.name) %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <%= link_to "Create Transfer!", '/exchange_info', class: "btn btn-lg btn-primary" %>
    </aside>
    <div class="col-md-8">
    	<% if @user.transfers.any? %>
    	<ol class="transfers">
    		<%=render @transfers  %>
    	</ol>
    	<% end %>
    </div>
  </div>
<% end %>