<div class="container">
      <ul class="progressbar">
        <li class="active" id="step1">Step 1</li>
        <li id="step2">Step 2</li>
        <li id="step3">Step 3</li>
        <li id="step4">Step 4</li>
      </ul>
</div>