<li id="Transfer-<%= transfer.id %>">
  
  <span class="user"><%= link_to transfer.user.name, transfer.user %></span>
  <span class="content"><%= transfer.reference %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(transfer.created_at) %> ago.
  </span>
</li>