<% provide(:title, "Transfer Review") %>
<%= render '/transfers/progress_bar' %>

<div class="container" id="mypanel">
  <h2>Transfer Review</h2>
  
<div class="row">
	<div class="col-lg-6">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	    	Instructions
	    </div>
	    <ul class="list-group">
	      <li class="list-group-item">1. Login to your internet bank.</li>
		  <li class="list-group-item">2. Make a transfer from a bank account in .... name using details underneath.</li>
		  <li class="list-group-item">3. Recipient receives EUR.</li>
	    </ul>
	  </div>
	  <center>
	  	Any problems? If any step is not clear enough <%= link_to " click here", "url"  %>
	  </center>
    </div>

	<div class="col-lg-6">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	    	Instructions
	    </div>
	    <ul class="list-group">
	      <li class="list-group-item">1. Login to your internet bank.</li>
		  <li class="list-group-item">2. Make a transfer from a bank account in .... name using details underneath.</li>
		  <li class="list-group-item">3. Recipient receives EUR.</li>
	    </ul>
	  </div>
	  <center>
	  	Any problems? If any step is not clear enough <%= link_to " click here", "url"  %>
	  </center>
    </div>

</div>
  
</div>