<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Payment via TransferSmart.</h3>
    <p>
      <%= @message %> sent you money through TransferSmart.<br>
    </p>
    <p>
      The proof of payment is attached to this email.
      </a>
    </p>
    <p>Questions? Got to the Help Center at <a href="https://transfersmart.pagekite.me/help"> or via our email address <b>transfersmart.developer@gmail.com</b></p>
  </body>
</html>