<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to transfersmart.pagekite.me , <%= @username %></h3>
    <p>
      You have successfully signed up to transfersmart.pagekite.me,
      your username is: <%= @username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="https://transfersmart.pagekite.me">
        TransferSmart
      </a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>